.testimonials {
    margin: 150px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
}
.testimonials .card {
    position: relative;
    width: 330px;
    margin: 0 auto;
    background: #333;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 1);
    border: none;
    border-radius: 10px;
    overflow: hidden;
}
.testimonials .card .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50%; 
    background: linear-gradient(#ff0000, #ffd900);
    text-align: center;
    z-index: 2;
    transition: 0.5s;
}
.testimonials .card:hover .layer {
    top: 0;
}
.testimonials .card .content {
    z-index: 1;
}
.testimonials .card .content .img{
    height: 433.3px;
    width: 310px;
}
.testimonials .card .content .img img {
    width: 100%;
}
